.text{
    display: flex;
    align-items:center;
    gap: 20px;
}
.wrappperr{

    margin-left: 400px;
    width: 900px;
}
.text button{
    width: 172px;
    height: 72px;
    background: rgb(106, 106, 226);
    color:white;
    border:none;
    border-radius:7px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.5s;
}
.text button:hover{
    background: rgb(1, 1, 197);
}
.text h1{
    font-weight: 700;
    font-size: 3.75rem;
    color:rgb(73, 73, 112);
}
.twoo h3{
    margin-top: 15px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
    color:rgb(65, 65, 78);
    margin-left: 30px;
}